.business_logo {
  width: 217px;
  height: 59px;
  background: transparent url("/images/business_1_logo.png"); }
  .business_logo span {
    display: none; }

#my_rewards {
  margin-bottom: 2em; }

#graphs {
  text-align: center; }

.left {
  width: 48%;
  float: left; }

.right {
  width: 48%;
  float: right; }
