html {
  background-color: #bcd2e0; }

body {
  background-color: #bcd2e0;
  font-family: Lucida Grande, Trebuchet MS, Verdana, Helvetica, Arial, sans-serif; }

a {
  color: #437fbf;
  text-decoration: none;
  padding: 0 0.2em; }
  a:hover {
    background-color: #bcd6e3; }

#header {
  margin-bottom: 2em;
  background-color: #d7ecf2;
  padding: 1em; }
  #header h1 {
    margin: 0 auto 1em; }
    #header h1 a {
      margin: 0 auto;
      display: block;
      width: 449px;
      height: 158px;
      background: transparent url("/images/logo.png") top center no-repeat; }
      #header h1 a span {
        display: none; }
  #header #login {
    text-align: center; }
    #header #login li {
      display: inline; }
      #header #login li.name {
        display: block;
        font-weight: bold; }

#flash {
  text-align: center;
  font-size: 116%;
  background-color: #deffdc;
  color: #009900;
  padding: 1em 0;
  margin: 0 -1em; }

#main {
  width: 980px;
  margin: 0 auto; }

.table {
  background-color: #d7ecf2;
  padding: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 0 0 2em; }

table {
  font-size: 116%;
  margin: 0 1em;
  width: 96%; }
  table th, table td {
    padding: 0.2em; }
  table th {
    font-weight: bold;
    border-bottom: 3px double #69b0d6; }
  table td {
    border-bottom: 2px solid #bad7e7; }
  table td.where, table th.where {
    width: 30%;
    white-space: nowrap; }
  table td.count, table th.count {
    text-align: center; }
  table tr:last-child td {
    border-bottom: none; }

h2 {
  font-size: 161.6%;
  color: #003e7e;
  margin: 0 0 1em; }

h3 {
  font-size: 131%;
  color: #003e7e;
  margin: 0 0 1em; }

label {
  font-size: 131%; }

input, textarea {
  background-color: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 131%;
  margin-bottom: 0.5em;
  border: 2px solid #a5c7dd;
  padding: 0.2em;
  width: 20em;
  display: block; }

input[type=submit], .submit {
  background-color: #009900;
  color: white;
  border: 2px solid #1f651e;
  display: inline;
  font-size: 131%;
  text-decoration: none;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  padding: 0.2em;
  width: auto; }

span.example {
  display: block;
  color: #4d7c99;
  margin: 0 0 0 0.2em; }

.save {
  text-align: center; }

div.clear {
  clear: both; }

#footer {
  margin: 2em 0;
  text-align: center;
  color: #666666; }
